<div class="filters-container">
  <div class="language-filter-container">
    <div class="language-filter-container-title">
       <label for="language-filter-container">Filtros:</label>
    </div>
    <div class="language-filter-container-input">
      <input  [(ngModel)]="repoName" type="text" placeholder="Buscar repositorio: " (keyup.enter)="onRepoNameChange()"/>
    </div>
    <div class="language-filter-container-selector">
      <div class="languajes-selector all-languages">
        <input type="radio" id="all" name="languajes" value="all" (change)="onLanguageChange('all')" checked/>
        <label for="all">Todos</label>
      </div>
      @for (language of reposLanguajes; track $index) {
        <div class="languajes-selector">
          <input 
            type="radio" 
            id="{{language}}" 
            name="languajes" 
            value="{{language}}"
            (change)="onLanguageChange(language)"
          />
          <label for="{{language}}">{{language}}</label>
        </div>
      }
    </div>
  </div>
</div>
