.header{
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}

.search-bar-container {
  border: 1px solid #ccc;
  border-radius: 8px;  
  box-shadow: 2px 2px 12px rgba(0,0,0,0.1);
  height: 100%;
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;

  .title {
    margin-bottom: 10px;

    h2 {
      margin: 0;
    }
  }
  
  .search-bar {
    display: flex;
    justify-content: space-between;
    
    input {
      width: 80%;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 1em;
    }

    button {
      width: 18%;
      padding: 8px 16px;
      background-color: #007BFF;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;

      &:hover {
          background-color: #0B2CD6;
      }
    }
  }
}

.user-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;  
  box-shadow: 2px 2px 12px rgba(0,0,0,0.1);

  .title {
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;

    h2 {
      margin: 0;
    }
  }

  .user-info{
    display: flex;
    align-items: center;

    img {
      border-radius: 50%;
      margin-right: 12px;
    }
  }
  
}

.results-container {
  display: flex;
  flex-direction: row;
  height: 100%;

  .results-container-title {
    width: 100%;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;

    h2 {
      margin: 0;
    }
  }

  .filters {
    width: 20%;
    height: max-content;
  }

  .results-main-container {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.1);
    margin-left: 16px;

    .results-container-title {
      margin-bottom: 10px;
      border-bottom: 1px solid #ccc;
      padding: 10px;

      h2 {
        margin: 0;
      }
    }

    .card-grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      gap: 16px;
    }

  }
}



.results-paginator-container {
  display: flex;
  justify-content: center;
  border-top: 1px solid #ccc;
  padding: 10px 10px 0px 10px;
  margin-top: 20px;

  button {
    padding: 8px 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      background-color: darken(#007BFF, 10%);
    }
  }

  span {
    align-content: center;
    margin: 0 12px;
  }
}

footer {
  text-align: center;
  padding: 20px;
  border-top: 1px solid #ccc;
  margin-top: 20px;

  p {
      font-weight: bolder;
  }
}


@media screen and (max-width: 768px) {
  .results-container {
    flex-direction: column;

    .filters, .results-main-container {
      width: 100%;
      margin-left: 0;
    }

    .results-main-container {
      margin-top: 20px;
    }
  }
  
}